近几年，本科毕业生数量的增多导致毕业设计涉及到的题目内容增多，加之众多的专业，地点的分散，指导老师多样化等一系列问题，大大增加了毕业设计管理工作的难度。众所周知，如今在政治、文化、经济、教育等方面都表现出网络化及信息化，特别在许多高等院校的教学管理当中该现象极其明显，在对教学信息实现透明性及实时性的过程当中网络化表现出相当的优势。
毕业设计管理工作是教学管理工作中非常重要的一个环节。当下生活中，各个学校的办事处管辖若干系别的毕业生数量众多，亟待通过先进的计算机管理技术改善管理效率。因此，要求设计出一套毕业设计管理系统，帮助教学管理者、教师、学生用户们通过浏览器在网上对毕业论文工作的全过程进行动态的信息交互管理，完成论文从最开始的选题、设计、到系统的开发以及最终论文的提交等多项功能。
Docker 作为一个开源的应用容器引擎，让开发者可以打包他们的应用以及依赖包到一个可移植的容器中，然后发布到任何流行的 Linux 机器上，也可以实现虚拟化。
将传统的Web 应用的开发/部署流程移植到Docker上可以实现更加轻量级的虚拟化，更加方便的快速部署，极大的减少部署所需要的时间成本和人力成本。
系统基本功能要求:
	系统角色包括普通用户(学生，老师)和管理员，不同角色具有不同的权限;
	管理员模块：为每个用户分配角色及相应权限，管理学生和教师信息，为每个学生分配指导教师，发布公告，审核提交的毕设；
	学生模块:管理个人信息，提交毕业设计文件，查看公告；
	教师模块:管理个人信息，下载学生提交的毕设文件并审核批复，发布公告；
系统基本环境要求：使用CentOS/Ubuntu 作为服务部署系统，系统安装JDK1.8、Tomcat。可以在Docker基础镜像的基础上构建自己开发部署所需镜像,如下提供的Docker hub上基础镜像地址:
CentOS: https://hub.docker.com/_/centos/
Ubuntu: https://hub.docker.com/_/ubuntu/
Java:
•	https://hub.docker.com/_/java/ （Deprecated)
•	https://hub.docker.com/_/openjdk/
Tomcat: https://hub.docker.com/_/tomcat
